.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-top: 10%; */
}

.form-label {
  font-size: x-large;
  font-weight: 400;
}

.sublabel {
  font-size: medium;
}

.form-control, .form-control:focus {
  font-size: xx-large;
  text-align: center;
  border: none;
  box-shadow: none;
  background-color: rgb(247, 247, 247);
}

.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control[type=number] {
  -moz-appearance: textfield;
}

.submitButton {
  overflow: auto;
  margin-top: 8px;
  background-color: rgb(247, 247, 247) !important;
  border-color: rgb(247, 247, 247) !important;
  opacity: 0.5;
  transition: 1s;
}

.submitButton:hover {
  opacity: 1;
}

.gameBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.timer-text {
  width: 50px;
  font-size: large;
}

.board {
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 1em 1em 1em 1em;
}

.card {
  width: 100px;
  height: 100px;
  margin: 0em 0.5em 0em 0.5em;
  text-align: center;
  padding: 0px 0px 0px 0px;
  background-color: rgb(236, 193, 128);
  border: 1px solid rgb(206, 165, 104);
  transition: 1s;
}

.card:hover {
  background-color: rgb(73, 103, 134);
  border: 1px solid rgb(206, 165, 104);
}

.card:focus {
  border: 5px solid rgb(206, 165, 104);
  box-shadow: none;
}

.matched, .matched:focus, .matched:hover {
  background-color: rgb(247, 247, 247);
  border: none;
}

.resetButton {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resetButton button {
  border: none;
  background-color: rgb(247, 247, 247);
  opacity: 0.5;
  transition: 1s;
}

.resetButton button:hover {
  opacity: 1;
}
