.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}

.form-label {
  font-size: large;
  font-weight: 400;
}

.form-control {
  width: 10%;
  text-align: center;
  border-color: rgb(206, 165, 104);
}

.submitButton {
  overflow: auto;
  margin-top: 8px;
  /* background-color: rgb(127, 147, 167); */
  background-color: rgb(247, 247, 247);
  /* border-color: rgb(206, 165, 104); */
  border-color: rgb(247, 247, 247);
  transition: 1s;
}

.submitButton:hover {
  background-color: rgb(73, 103, 134);
}

.board {
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 1em 1em 1em 1em;
}

.card {
  width: 100px;
  height: 100px;
  margin: 0em 0.5em 0em 0.5em;
  text-align: center;
  padding: 0px 0px 0px 0px;
  background-color: rgb(236, 193, 128);
  border: 1px solid rgb(206, 165, 104);
  transition: 1s;
}

.card:hover {
  background-color: rgb(73, 103, 134);
  border: 1px solid rgb(206, 165, 104);
}

.card:focus {
  border: 5px solid rgb(206, 165, 104);
  box-shadow: none;
}

.matched, .matched:focus, .matched:hover {
  background-color: rgb(247, 247, 247);
  border: none;
}

