footer {
  flex-shrink: 0;
  left: 0;
  /* bottom: 0; */
  width: 100%;
  /* background-color: rgb(206, 165, 104); */
  border-top: 3px solid rgb(73, 103, 134);
  /* color: white; */
  text-align: center;
  font-size: small;
  padding: 5px 0 5px 0;
}

.footerText {
  margin: 1px 0 1px 0;
}
